@charset "UTF-8";

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
}

.content_left {
	position: absolute;
	z-index: 20;
	top: 5rem;
	bottom: 1.5rem;
	width: 15%;
	height: 40rem;
	border-right: 0.025rem solid #d9d9d9;
}

.content_right {
	left: 15%;
	right: 0;
	top: 5rem;
	position: absolute;
}

.content_mobile_wrap {
	display: none;
}
