@charset "UTF-8";

/* .content_left, .content_right {
	display: none;
}

.content_mobile_wrap {
	display: block;
	width: 100%;
}

.content_mobile {
	padding: 1rem 1rem;
} */

.menu_area {
	display: none;
}

.content_mobile {
	display: none;
}

.content_left {
	display: none;
}

.content_right {
	left: 0;
}

.photo {
	width: 7.7rem !important;
}